<div class="main-container">
  <h1 class="text-center">人工知能(AI)でGetWild診断</h1>
  <br />
  <div class="example">
    例)<br />
    もっこりりょうちゃん => GetWild<br />
    100tハンマー => GetWild<br />
    悪魔に魂を売る気はない！！悪魔はドブネズミにおとる => GetWild<br />
    ゴムゴムのバズーカ！ => not GetWild<br />
    オラにほんのちょっとずつだけ元気をわけてくれ => not GetWild<br />
  </div>
  <br />
  <h2 class="text-center">現在の正答率 59.3%</h2>
  <br />

  <%= bootstrap_form_for(@training_set, url: judge_top_path) do |f| %>
    <div class="col-sm-10">
      <%= f.text_field :text, hide_label: true, class: 'getwild-text', placeholder: '例) もっこりりょうちゃん' %>
    </div>
    <div class="col-sm-2">
      <%= f.submit "is GetWild?", class: 'btn btn-primary btn-getwild' %>
    </div>
    <br class="clearfix"/>
  <% end %>
  <br />
  <br />

  <% if @result.present? %>
    <h1 class="result text-center"><%= @result %></h1>
    <p class="text-center"><a href="https://twitter.com/intent/tweet?button_hashtag=GetWild%E8%A8%BA%E6%96%AD&text=<%= @result %>" class="twitter-hashtag-button" data-size="large" data-url="http://getwild-checker.net">Tweet #GetWild%E8%A8%BA%E6%96%AD</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
  <% end %>
  <br />
  <br />
  <br />
  <br />
  <div class="center-block text-center">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/GetWild%E8%A8%BA%E6%96%AD" data-widget-id="727442721741242369">#GetWild診断 のツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <br />
  <br />

  <footer>
    <p>Copyright 2015 Atsushi Harada All Rlight Reserved. <a href="https://twitter.com/harada4atsushi" target="_blank">Twitter</a> <a href="https://www.facebook.com/harada.at.sea4" target="_blank">Facebook</a></p>
  </footer>

</div>
